{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
<div class="application-container">
    <h2>Подача заявления для утверждения отпуска</h2>
    <div class="application-content">
        <div class="user-info-form">
            <div class="user-info">
                <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
                <p><strong>Имя:</strong> {{ user.first_name }}</p>
                <p><strong>Отчество:</strong> {{ user.patronymic }}</p>
                <p><strong>Должность:</strong> {{ user.position }}</p>
            </div>

            <h3>Новое заявление</h3>
            <form method="post" class="application-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Подать заявление на отпуск</button>
            </form>
        </div>

        <!-- Добавление кнопки "Главное меню" -->
        <div class="main-menu-button">
            <a href="{% url 'menu' %}" class="btn btn-primary">Главное меню</a>
        </div>

    </div>
</div>
{% endblock %}
