{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="tabs">
        <button class="tab-link active" onclick="openTab(event, 'login')">Вход</button>
        <button class="tab-link" onclick="openTab(event, 'register')">Регистрация</button>
    </div>
    <div id="login" class="tab-content active">
        <h2>Вход</h2>
        <form method="post" action="{% url 'auth' %}" class="login-form">
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            {{ login_form.as_p }}
            <input type="hidden" name="login" value="1">
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
    <div id="register" class="tab-content">
        <h2>Регистрация</h2>
        <form method="post" action="{% url 'auth' %}" class="register-form">
            {% csrf_token %}
            {{ register_form.non_field_errors }}
            {{ register_form.as_p }}
            <input type="hidden" name="register" value="1">
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
    </div>
</div>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
