{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block content %}
<body>
    <!-- Экран загрузки -->
    <div class="preloader">
        <img src="{% static 'images/logo1.png' %}" alt="Загрузка...">
    </div>

    <div class="menu">
        <button id="apply-btn" class="menu-item">
            <i class="fas fa-file-alt"></i> Подать заявку
        </button>
        <button id="schedule-list-btn" class="menu-item">
            <i class="fas fa-calendar-alt"></i> Просмотреть расписание отпусков списком
        </button>
        <button id="schedule-chart-btn" class="menu-item">
            <i class="fas fa-question-circle"></i> Просмотреть расписание отпусков на диаграмме
        </button>
        <button id="something-else-btn" class="menu-item inactive" disabled>
            <i class="fas fa-question-circle"></i> Еще че-нибудь
        </button>
        <button id="logout-btn" class="menu-item logout-btn">
            <i class="fas fa-sign-out-alt"></i> Выйти
        </button>
    </div>

    <script src="{% static 'js/menu.js' %}"></script>

    <script>
        // Ожидание полной загрузки страницы
        window.addEventListener('load', function() {
            const preloader = document.querySelector('.preloader');
            preloader.classList.add('hidden');

            const menu = document.querySelector('.menu');
            setTimeout(() => {
                menu.style.opacity = 1;
                menu.style.transform = 'translateY(0)';
            }, 1000); // Задержка для завершения анимации экрана загрузки
        });
    </script>
</body>
{% endblock %}
