{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block content %}
<body>
    <!-- Экран загрузки -->
    <div class="preloader">
        <img src="{% static 'images/logo1.png' %}" alt="Загрузка...">
    </div>

    <div class="menu">
        <button id="apply-btn" class="menu-item">
            <i class="fas fa-file-alt"></i> Подать заявку
        </button>
        <button id="schedule-list-btn" class="menu-item">
            <i class="fas fa-calendar-alt"></i> Ваши заявки
        </button>
        <button id="vacation-calc-btn" class="menu-item" disabled>
            <i class="fas fa-calculator"></i> Еще что-нибудь?
        </button>
        <button id="logout-btn" class="menu-item logout-btn">
            <i class="fas fa-sign-out-alt"></i> Выйти
        </button>
    </div>

    <script src="{% static 'js/menu.js' %}"></script>

</body>
{% endblock %}
