/* auth.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 360px; /* Уменьшена ширина контейнера */
    padding: 20px; /* Уменьшены отступы */
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; /* Уменьшен отступ снизу */
    border-bottom: 2px solid #e0e0e0;
}

.tab-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px; /* Уменьшены отступы */
    font-size: 16px; /* Уменьшен размер шрифта */
    color: #555;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab-link:hover,
.tab-link.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.tab-content {
    display: none;
    animation: fadeIn 0.5s ease forwards;
}

.tab-content.active {
    display: block;
    overflow: hidden; /* Скрыть переполнение */
}

form {
    display: flex;
    flex-direction: column;
    max-height: 100%; /* Убедитесь, что форма занимает весь доступный размер */
}

label {
    margin-bottom: 1px; /* Уменьшите отступ ниже метки */
    color: #333;
}

input {
    margin-bottom: 8px; /* Уменьшите отступ ниже поля ввода */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Прокрутка формы регистрации */
.tab-content #register {
    padding-top: 20px; /* Добавляем отступ сверху */
    max-height: 400px; /* Устанавливаем максимальную высоту */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
}
